@keyframes glassOut {
    0%{
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(95deg);
    }
    
}



.glass {
    width: 280px;
    height: 280px;
    background: url('../assets/img/water-glass.svg');
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    &__counter{
        color: #000;
        font-size: 112px;
        font-weight: 500;
        margin: 68px 0 0 0;
    }
    &--animated{
        transform-origin: right bottom;
        animation: glassOut 3s ease-in-out alternate;
    }
}  

.animated {
    &__add{
        transform-origin: left bottom;
        animation: glassOut 3s ease-in-out alternate;
    }

}