@keyframes glassOut {
    0%{
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(95deg);
    }
    
}

@keyframes scaleDown {
    from{
        transform: scale(1);
        opacity: 1;
        transform: rotate(0);
    }
    to{
        transform: scale(0.9);
        opacity: 0.7;
        transform: rotate(60deg);
    }
}


@keyframes rotate {
    from {
      transform: rotateY(0deg);
      opacity: 1;
    }
    to {
      transform: rotateY(-720deg);
      opacity: 0,5;
    }
  }


.glass {
    width: 280px;
    height: 280px;
    background: url('../assets/img/water-glass.svg');
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    &__counter{
        color: #000;
        font-size: 112px;
        font-weight: 500;
        margin: 68px 0 0 0;
    }
    &--animated{
        transform-origin: right bottom;
        animation: scaleDown 1.2s cubic-bezier(0.49,-0.63, 0.04, 1.47) alternate ;
    }
}  

.animated {
    &__add{
        // transform-origin: left bottom;
        // animation: glassOut 3s ease-in-out alternate;
        
        animation: rotate ease-in-out 1s alternate;
    }
}